@import 'utils.import.less';

.reset() {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  html {
    min-height: 100%;
    -webkit-text-size-adjust: none;
  }

  body {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  a {
    color: @blue;
    cursor: pointer;
    &:visited {
      color: @blue;
    }
  }

  body, input, select, textarea, button {
    font-family: "Open Sans", "Droid Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid @gray;
  }

  @arrow: 5px;

  select {
    .appearance(none);
    .border-radius(0);
  }

  table {
    width: 100%;
  }

  .select {
    @arrow: 24px;

    position: relative;

    .down-arrow {
      
      position: absolute;
      .pointer-events(none);
      top: 50%;
      right: 10px;
      margin-top: -@arrow/2;
      width: @arrow;
      height: @arrow;
      display: inline-block;
      font-size: @arrow;
      line-height: 100%;
      text-align: center;
    }

    input[type='date'] {
      .appearance(none);
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-webkit-clear-button {
        display: none;
      }
      &::-webkit-calendar-picker-indicator {
        right: 10px;
        position: absolute;
        width: @arrow;
        height: @arrow;
        padding: 0;
        opacity: 0;
      }
    }
  }
}